<!--
    Created by Michael Piercey 2206222 -- finalised 11/12/23
-->

<!DOCTYPE html>
<html lang="en">
<!-- Include the head -->
<%- include('../partials/head.ejs', { title: 'Cinemind | groups', cssFiles: ['styles/nav.css', 'styles/newgroups.css'], bootstrap: true }) %>


<body>

<!-- Include the navbar -->
<%- include('../partials/nav.ejs', { currentPage: 'groups'}) %>

<div id="main-container" class="wrapper">
  <div class="side-nav">
      <!-- side nav show the container -->
      <h2>Groups</h2>
      <a href="#" onclick="showAccountContent('New-Group')">New group</a>
      <!-- Loop through user's group codes and generate links -->
      <% userGroups.forEach(group => { %>
          <a href="#" onclick="showAccountContent('<%= group.groupCode %>')"><%= group.groupName %></a>
      <% }); %>
  </div>

  <% userGroups.forEach(group => { %>
      <div id="container-<%= group.groupCode %>" class="account-container" style="display: none;">
          <!-- Display group code -->
          <h1>Group Code: <%= group.groupCode %></h1>
          <!-- Display group name -->
          <h2>Group Name: <%= group.groupName %></h2>

          <div class="group-review-container">
            <h1>Members</h1>
            <ul>
                <% group.groupMembers.forEach(groupMembers => { %>
                <li><%= groupMembers %></li>
                <% }); %>
            </ul>
       </div>
  
  
          
        
          <div class="group-selector-container-chat" style="display: block;">
              <h1 class="welcome-title">Change to chat</h1>
              <button class="change-btn" onclick="showGroupContent('chat')">Change to Chat</button>
          </div>
  
          <div class="group-selector-container-watchlist" style="display: none;">
              <h1 class="welcome-title">Change to watchlists</h1>
              <button class="change-btn" onclick="showGroupContent('watchlists')">Change to watchlists</button>
          </div>
            
          <div class="watchlist-container" style="display: block;">
            <h1 class="welcome-title">Create a watchlist</h1>
            <h3 class="welcome-text">Create a watchlist for the group</h3>
            <input type="text" id="movie-search-bar-<%= group.groupCode %>" class="search-bar" placeholder="Search">
            <input type="hidden" class="groupcode" value="<%= group.groupCode %>">
            <button class="search-button" onclick="getSearchFromTMDBWatchlist('<%= group.groupCode %>')">Search</button>
        
            <!-- Results container with group code -->
            <div class="results-movie-card-container" id="results-movie-card-container-<%= group.groupCode %>">
                <!-- Search results will be inserted here -->
            </div>

            </div>
        
          <div class="watchlist-container" style="display: block;">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>
              // Define the JavaScript function to get group watchlist details
              function getGroupWatchlistDetails(groupCode) {
                  // Make an AJAX request to fetch group watchlist data
                  $.ajax({
                      type: 'GET',
                      url: '/getGroupWatchlist',
                      data: { groupCode: groupCode },
                      success: function(response) {
                          // Log the received JSON data to the console
                          console.log('Watchlist details for Group Code ' + groupCode + ': ', response);
          
                          // Iterate through each watchlist item in the response
                          response.groupWatchlist.forEach(function(item) {
                              // Call getWatchlistFromTMDB with movieId, watchDate, watchTime, and groupCode
                              getWatchlistFromTMDB(item.movieId, item.watchDate, item.watchTime, groupCode);
                          });
                      },
                      error: function(error) {
                          console.error('Error fetching group watchlist for Group Code ' + groupCode + ': ', error);
                      }
                  });
              }
          
              // Call the function with the group's code
              getGroupWatchlistDetails('<%= group.groupCode %>');
          </script>
          
          
          
            <h1 class="welcome-title">Group watchlist zone</h1>
            <h3 class="welcome-text">This is where a list of group watchlists</h3>
            <div class="watchlist-movie-card-container" id="watchlist-movie-card-container-<%= group.groupCode %>">
              <!-- Movie cards for group <%= group.groupCode %> will be inserted here -->
          </div>
          </div>
  
              <!-- Chat section -->
              <div class="chat-container" id="chat-container-<%= group.groupCode %>" style="display: none;">
                <h1>Chat with the group</h1>
                <div class="previous-chats" id="previous-chats-<%= group.groupCode %>" data-group-code="<%= group.groupCode %>">
                    <!-- Messages will be inserted here -->
                </div>
                <!-- Text input bar -->
                <div class="text-input">
                    <form action="/send-message" method="post">
                        <input type="text" name="message" placeholder="Enter your message">
                        <!-- Hidden input field for group code -->
                        <input type="hidden" name="groupCode" value="<%= group.groupCode %>">
                        <button type="submit">Send Message</button>
                    </form>
                </div>
            </div>

      </div>
  <% }); %>



      

  <div id="container-New-Group" class="account-container">
      <h1>Create a new group</h1>

      <div class="account-activites-container">
        <div class="activities-container" style="margin-left: 0;">
            <h3>Create a new group name</h3>
            <form action="/addGroup" method="post">
            <input type="text" id="groupName" name="groupName" required placeholder="Enter your new name">
            <button class="account-change-button">Submit</button><br>
            </form>
        </div>
        <div class="activities-container" style="padding: 5px;">
          <h3>Join group with code</h3>
          <form action="/joinGroup" method="post"> <!-- Update the form action -->
              <input type="text" name="groupCode" class="account-textbox" placeholder="Enter a group code">
              <button type="submit" class="account-change-button">Join!</button><br>
          </form>
      </div>
      


      </div>


  </div>



    </div>

    <%- include('../partials/footer.ejs')%>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../scripts/newgroups.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
 var loggedInUsername = '<%= user.login.username %>';

    <% userGroups.forEach(group => { %>
        fetchMessages('<%= group.groupCode %>');
    <% }); %>

    <% userGroups.forEach(group => { %>
        setInterval(function() {
            fetchMessages('<%= group.groupCode %>');
        }, 5000);
    <% }); %>
</script>


</html>
